body {
	margin: 0;
	word-wrap: break-word;
	font-family:Roboto;
	background-color:#ffffff;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.RTEImageDiv img{
	max-width:70%;
	border:1px solid #CCCCCC;
}
